* {
    box-sizing: border-box;
}
.products {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; */
    margin-top: 120px;
}
.order-summary {
    background-color: #FFE0B3;
}